<h4>add a todo</h4>
<form (ngSubmit)="onSubmit()" class="container">
  <div class="form-group m-6">
    <label for="title"  >todo title</label>
    <input type="text" class="form-control" [(ngModel)]="title" id="title"  name="title" id="title" aria-describedby="emailHelp" placeholder="enter title">
  </div>
  <div class="form-group m-6">
    <label for="desc">todo description</label>
    <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="desc" placeholder="enter description">
  </div>
  <button type="submit" class="btn btn-primary m-6">Add todo</button>
</form>